In [6]:
import pandas as pd

In [7]:
df = pd.read_csv("dbs.csv")

In [8]:
df

     Unnamed: 0        Date    DBS      SGD
0             1   6/20/2017  20.45  1.38925
1             2   6/19/2017  20.60  1.38707
2             3   6/16/2017  20.45  1.38324
3             4   6/15/2017  20.41  1.38378
4             5   6/14/2017  20.59  1.37595
..          ...         ...    ...      ...
117         118  12/30/2016  17.09  1.44655
118         119  12/29/2016  17.13  1.44814
119         120  12/28/2016  17.22  1.45018
120         121  12/27/2016  17.19  1.44954
121         122  12/23/2016  17.14  1.44766

[122 rows x 4 columns]

In [9]:
x = df.loc[:,['SGD']]

In [10]:
x

         SGD
0    1.38925
1    1.38707
2    1.38324
3    1.38378
4    1.37595
..       ...
117  1.44655
118  1.44814
119  1.45018
120  1.44954
121  1.44766

[122 rows x 1 columns]

In [11]:
y = df.loc[:,['DBS']]

In [12]:
y

       DBS
0    20.45
1    20.60
2    20.45
3    20.41
4    20.59
..     ...
117  17.09
118  17.13
119  17.22
120  17.19
121  17.14

[122 rows x 1 columns]

In [13]:
from sklearn import linear_model

In [14]:
model = linear_model.LinearRegression()

In [15]:
model.fit(x,y)

LinearRegression()

In [16]:
dir(model)

['__abstractmethods__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_abc_impl',
 '_check_n_features',
 '_decision_function',
 '_estimator_type',
 '_get_param_names',
 '_get_tags',
 '_more_tags',
 '_preprocess_data',
 '_repr_html_',
 '_repr_html_inner',
 '_repr_mimebundle_',
 '_residues',
 '_set_intercept',
 '_validate_data',
 'coef_',
 'copy_X',
 'fit',
 'fit_intercept',
 'get_params',
 'intercept_',
 'n_features_in_',
 'n_jobs',
 'normalize',
 'positive',
 'predict',
 'rank_',
 'score',
 'set_params',
 'singular_']

In [17]:
model.coef_

array([[-50.60094302]])

In [18]:
model.intercept_

array([90.22858515])

In [19]:
predict = model.predict(x)

In [20]:
predict

array([[19.93122506],
       [20.04153512],
       [20.23533673],
       [20.20801222],
       [20.6042176 ],
       [20.31225016],
       [20.18473578],
       [20.196374  ],
       [20.26266124],
       [20.30466002],
       [20.43723449],
       [20.3198403 ],
       [20.3466588 ],
       [20.06885962],
       [20.23736076],
       [20.13109878],
       [20.06278751],
       [20.36335711],
       [20.0784738 ],
       [20.17107353],
       [19.8958044 ],
       [20.07442573],
       [20.13464085],
       [19.74298955],
       [19.90288853],
       [19.65342588],
       [19.51427329],
       [19.18789721],
       [19.00978189],
       [18.81648629],
       [19.08163523],
       [19.13628424],
       [19.35235027],
       [19.52692353],
       [19.70149678],
       [19.51933338],
       [19.53400766],
       [19.59068071],
       [19.68479847],
       [19.76120589],
       [19.56183818],
       [19.50263507],
       [19.47784061],
       [19.59776485],
       [19.49150286],
       [19.48897282],
       [19.56285019],
       [19.18283711],
       [19.1443804 ],
       [19.14741645],
       [19.28049693],
       [19.35336229],
       [19.47986465],
       [19.53400766],
       [19.56993433],
       [19.5041531 ],
       [19.68732851],
       [19.55070597],
       [19.69238861],
       [19.44545601],
       [19.40244521],
       [19.4611423 ],
       [19.42066154],
       [19.54513986],
       [19.28555703],
       [19.32603778],
       [19.27391881],
       [18.58169791],
       [18.63988899],
       [18.79371586],
       [18.30845282],
       [18.4951703 ],
       [18.81294422],
       [18.76234328],
       [18.86253314],
       [18.77347548],
       [18.92831437],
       [19.13426021],
       [19.17018688],
       [19.16107871],
       [19.00117973],
       [18.71781445],
       [18.35247564],
       [18.47999001],
       [18.425341  ],
       [18.54779528],
       [18.42281095],
       [18.37777611],
       [18.16474614],
       [18.34589751],
       [18.34184944],
       [18.5437472 ],
       [18.44760541],
       [18.92325427],
       [19.00978189],
       [18.81142619],
       [18.75778919],
       [18.90453193],
       [17.77916695],
       [18.07720651],
       [18.7370428 ],
       [18.31604296],
       [18.57866185],
       [18.01850941],
       [18.06354425],
       [17.9319818 ],
       [18.57714382],
       [17.85405635],
       [18.07568848],
       [18.0068712 ],
       [18.03217167],
       [17.53830646],
       [17.60155764],
       [17.39459979],
       [17.94665607],
       [17.39257575],
       [16.86126585],
       [17.03179102],
       [16.95133553],
       [16.8481096 ],
       [16.88049421],
       [16.97562398]])

In [21]:
from sklearn.metrics import mean_squared_error

In [23]:
rmse = mean_squared_error(y, predict) ** 0.5

In [24]:
rmse

0.6283698867042165

In [25]:
import joblib

In [26]:
joblib.dump(model, "DBS_reg")

['DBS_reg']